@use '../../assets/abstracts';

:host {
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

  select {
    min-width: 125px;
    padding: 10px;
    background-color: abstracts.$white;
    border: abstracts.$global-border;
    border-radius: abstracts.$global-border-radius;
    cursor: pointer;
  }
}
