$pale-violet: #f8f6ff;
$darker-violet: #d5d3e0;
$white: #FFFFFF;
$light-gray: #d3d3d3ff;
$green: #70c485;
$orange: #FF9800;
$blue: #63b1ff;
$tan: #DBA979;
$cream: #FFE8C5;
$sage: #BEC6A0;
$sand: #A79277;
